* {
    padding:0;
    
}
/* 全局类 */
:global .boder-red {   
    border:1px solid red
}
:local .div1{
    composes:mydiv from "./test2.css";
    background-color:yellow;
    display: flex;
}
.img1 {
    background:url('../images/applogo2.png')
}

.img2 {
    background:url('../images/header_bg.jpg')
}
